<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>留言</title>
    <style type="text/css">
        .noteHeader {
            width: 661px;
            height: 173px;
            margin: auto;
            background-image: url('../../images/note_icon.png');
        }

        .noteContent {
            margin: auto;
            width: 661px;
            height: 300px;
            border: 1px solid #808080;
        }
    </style>
</head>
<body>
    <div class="noteHeader"></div>
    <h2 style="width:661px;margin:auto;">给我留言</h2>
    <div class="noteContent">
        <span style="display:block;width:78px;height:260px;line-height:260px;float:left;">留言内容</span>
        <span style="margin-top:4px;position:absolute;">
            <textarea rows="17" cols="78" id="txA"></textarea>
        </span>
        <button style="width:60px;margin-top:265px;margin-left:200px;" onclick="funSubmit()">提交</button>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        function funSubmit() {
            $.post("/Home/SubmitNote", { "details": $('#txA').val() }, function (data) {
                alert(data);
            });
        }
    </script>
</body>
</html>