@model TourWeb.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>订单详情</h4>
        <hr />
        <label>订单编号：@Html.DisplayFor(item => item.Oid)</label><br />
        <label>景点名称：@Html.DisplayFor(item => item.Scene.Name)</label><br />
        <label>用户名：@Html.DisplayFor(item => item.UserName)</label><br />
        <label>总价格：@Html.DisplayFor(item => item.Total)</label><br />     
        <label>下单时间：@Html.DisplayFor(item => item.PubTime)</label><br />     
    </div>
    <p>      
        @Html.ActionLink("返回列表", "Index")
    </p>
</body>
</html>
